<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.learning.cookiestore.mapper.OrderMapper">
<!-- 주문 내역 조회를 위한 resultMap (상품 테이블이랑 조인) -->
<resultMap id="selectOrdersProductsResultMap" type="com.learning.cookiestore.vo.SelectOrdersProductsVO">
	<result property="productName" column="product_name" />
	<result property="productCount" column="product_count" />
	<result property="totalPrice" column="total_price" />
	<result property="orderDate" column="order_date" />
</resultMap>

<!-- 주문 생성 -->
<insert id="save" parameterType="com.learning.cookiestore.vo.OrderVO">
	INSERT INTO orders
	VALUES (#{orderCode}, #{userId}, #{productNumber}, #{productCount}, 
			#{totalPrice}, #{orderDate})
</insert>

<!-- 주문 내역 조회 (상품 테이블이랑 조인) -->
<select id="findOrderByOrderCode" resultType="selectOrdersProductsResultMap">
	SELECT 
		p.product_name AS productName,
		o.product_count AS productCount,
		o.total_price AS totalPrice,
		o.order_date AS orderDate
	FROM orders o
	LEFT OUTER JOIN products p
		ON o.product_number = p.product_number
	WHERE o.order_code = #{orderCode}
</select>

<!-- 주문 삭제 -->
<delete id="deleteOrderByOrderCode">
</delete>

</mapper>