<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.learning.cookiestore.mapper.OrderMapper">
<!-- 주문 생성 -->
<insert id="save" parameterType="com.learning.cookiestore.vo.OrderVO">
	INSERT INTO orders
	VALUES (#{orderCode}, #{userId}, #{productNumber}, #{productCount}, 
			#{totalPrice}, #{orderDate})
</insert>

<!-- 주문 내역 조회 (상품이랑 조인) -->
<select id="findOrderByOrderCode">
	SELECT 
		product_name AS productName,
		product_count AS productCount,
		total_price AS totalPrice
		order_date AS orderDate
	
</select>

</mapper>