<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.learning.cookiestore.mapper.ProductMapper">
<!-- 상품 등록 -->
<insert id="save" parameterType="com.learning.cookiestore.vo.ProductVO">
	INSERT INTO products
	VALUES (#{productNumber}, #{productName}, #{productPrice})
</insert>

<!-- 상품 조회 (상품 번호) -->
<select id="findProductByProductNumber" resultType="com.learning.cookiestore.vo.ProductVO">
	SELECT
		product_name AS productName,
		product_price AS productPrice
	FROM products
	WHERE product_number = #{productNumber}
</select>

<!-- 상품 조회 (상품 이름) -->
<select id="findProductByProductName" resultType="com.learning.cookiestore.vo.ProductVO">
	SELECT 
		product_name AS productName,
		product_price AS productPrice
	FROM products
	<where>
		<if test="productName != null">
			product_name LIKE CONCAT('%', #{productName}, '%')
		</if>
	</where>
</select>

<!-- 상품 수정 -->
<update id="updateProductByProductNumber">
	UPDATE products
	SET
		product_name = #{productName},
		product_price = #{productPrice}
	WHERE product_number = #{productNumber}
</update>

<!-- 상품 삭제 -->
<delete id="deleteProductByProductNumber">
	DELETE
	FROM products
	WHERE product_number = #{productNumber}
</delete>

</mapper>